<!DOCTYPE html>
<html lang="en">
<%- include('templates/head') %>
<body>
   <%- include('templates/navbar')  %>
   <main>
      <div class="category_detail_header">
         <div class="header-container">
            <h1 class="name"><%- category.name %></h1>
            <a href="<%= category.url %>/update"><img class="edit-icon" src="/images/edit-icon.svg" alt="edit-icon"></a>
            <a href="<%= category.url %>/delete"><img class="delete-icon" src="/images/delete-icon.svg" alt="delete-icon"></a>
         </div>
         <p class="description"><%= category.description %></p>
      </div>
      <hr>
      <br>
      <% if(category_items.length !== 0) { %>
         <div class="item-list-container category-detail">
            <% category_items.forEach(item => { %>
               <div class="item-container">
                     <% if(item.profile_img) { %>
                        <img id="item-image" src="<%= item.profile_img %>" alt="Item Image">
                     <% } else { %>
                        <img id="item-image" src="/images/bongo-cat.jpeg" alt="Item Image">
                     <%  } %>                  
                     <div class="info-container">
                        <h2 class="item-name"><a href=<%= item.url %>><%- item.name %></a></h2>
                        <p class="item-price">$<%= item.price %></p>
                        <% if (item.number_in_stock <= 20) { %>
                           <p class="num-in-stock-alert">Only <%= item.number_in_stock%> left in stock</p>
                        <% } %>
                  </div>
               </div>
            <% }) %>
         </div>
      <% } else { %>
         <p class="empty-alert">There are currently no items in this category.</p>
         <form action="/inventory/items/create">
            <button type="submit" class='small-btn' value="Go to Google">Add an Item</button>
        </form>
      <% } %>
   </main>
</body>
</html>