<!DOCTYPE html>
<html lang="en">
<%- include('templates/head') %>
<body>
   <%- include('templates/navbar')  %>
   <h1><%= category.name %></h1>
   <% category_items.forEach(item => { %>
      <div class="item-container">
         <h2><a href=<%= item.url %>><%= item.name %></a></h2>
         <p>$<%= item.price %></p>
         <% if (item.number_in_stock <= 20) { %>
            <p class="num-in-stock">Only <%= item.number_in_stock%> left in stock</p>
         <% } %>
      </div>
   <% }) %>
</body>
</html>