<!DOCTYPE html>
<html lang="en">
	<%- include('templates/head') %>
	<body>
		<%- include('templates/navbar') %>
		<main>
			<h1><%= title %></h1>
			<h2>Category: <%= category.name %></h2>
			<% if(items && items.length > 0) { %>
						<p class="alert">This category still contain items!</p>
						<p>Please delete all items first.</p>
						<ul>
							<% items.forEach(item => { %>
							<li>
								<a href="<%= item.url %>"><%= item.name %></a>
							</li>
							<% }) %>
						</ul>
			<% } else { %>
			<p>Are you sure you want to delete?</p>
			<form method="post" action="" autocomplete="off">
				<div class="form-group" id="password-container">
					<label for="password">Password *</label>
					<div class="password-container">
						<input type="password" name="password" id="password" placeholder="4-15*7Fohnjb#1" required />
						<img class="eye-icon" src="/images/eye.svg" alt="password eye-icon" />
					</div>
					<p class="hint">Hint: psst...cats love mice! Why not try using your mouse?</p>
					<% if(typeof password_error !== "undefined") { %>
						<p class="error-msg"><%= password_error %></p>
					<% } %>
					<p class="hint-hidden hidden">Hint1: Replace #1 with total number of <u>different</u> cat typed-emojis.</p>
				</div>
				<button style="align-self: self-start" type="submit">Confirm</button>
			</form>
			<% } %>
			<div class="magic-container">
				<img class="type-cat" id="magic-cat" src="/images/type-cat-magic.png" alt="cat image">
				<div id="magic-text" class="hidden">
					<p>[x] Dog</p>
					<p>✔ Cat</p>
					<p>Hint2: Clue is in the placeholder.</p>
				</div>
			</div>
		</main>
		<script src="/scripts/toggle_password.js"></script>
	</body>
</html>
