<!DOCTYPE html>
<html lang="en">
<%- include('templates/head') %>
<body>
   <%- include('templates/navbar') %>
   <main class="main-detail-container">
      <div class="item-img-container">
         <img id="item-image small" src="/uploads/<%= item.image %>" alt="Item Image">
      </div>
      <div class="info-container">
         <div class="header-container">
            <h1 class="name"><%= item.name %></h1>
            <a href="<%= item.url %>/update"><img class="edit-icon" src="/images/edit-icon.svg" alt="edit-icon"></a>
            <a href="<%= item.url %>/delete"><img class="delete-icon" src="/images/delete-icon.svg" alt="delete-icon"></a>
         </div>
         <hr>
         <p class="description"><%= item.description %></p>
         <p><a href=<%= item.category.url %>><%= item.category.name %></a></p>
         <p>$<%= item.price %></p>
         <p class="<%= item.number_in_stock <= 20 ? 'num-in-stock-alert' : '' %>">Number in stock: <%= item.number_in_stock %></p>
      </div>
      <div class="secret-img1">
         <p>
            &nbsp;∧,,,∧<br>
            (• ⩊ •)<br>
            |￣U U￣￣￣￣￣￣￣￣￣|<br>
            |&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">♫⋆｡♪˚Meow˚₊♬°.</span><span class="hidden">(Shift -1: Fohnjb)</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
            ￣￣￣￣￣￣￣￣￣￣￣￣
          </p>
      </div>
   </main>
</body>
</html>