<!DOCTYPE html>
<html lang="en">
<%- include('templates/head') %>
<body>
   <%- include('templates/navbar') %>
   <div class="item_detail_header">
      <h1 class="name"><%= item.name %></h1>
      <p class="description"><%= item.description %></p>
   </div>
   <hr>
   <p><a href=<%= item.category.url %>><%= item.category.name %></a></p>
   <p>$<%= item.price %></p>
   <p class="<%= item.number_in_stock <= 20 ? 'num-in-stock-alert' : '' %>">Number in stock: <%= item.number_in_stock %></p>
</body>
</html>