<!DOCTYPE html>
<html lang="en">
	<%- include('templates/head') %>
<body>
   <%- include('templates/navbar') %>
   <main>
      <h1><%= title %></h1>
      <form method='post' action="" enctype="multipart/form-data">
         <div class="form-group">
            <label for="item_name">Item Name *</label>
            <input type="text" name="item_name" id="item_name" placeholder="Moomin Padlock" value="<%= (typeof item === "undefined" ? '' : item.name) %>" required>
         </div>
         <div class="form-group">
            <label for="item_description">Description * </label>
            <textarea name="item_description" id="item_description" rows="4" cols="50" minlength="10" maxlength="300"
            placeholder="This novelty lock can last 20 seconds longer than any Master Lock under the superior lock picking skills of the LockPickingLawyer." required><%= (typeof item === "undefined" ? '' : item.description) %></textarea>
         </div>
         <div class="form-group">
            <label for="item_category">Category *</label>
            <select name="item_category" id="item_category" required>
               <option value="" selected disabled hidden>-- Select an Option --</option>
               <% categories.forEach(category => { %>
                  <option value="<%= category._id %>" <% if (typeof item !== "undefined" && typeof item.category !== "undefined" && item.category.toString() === category._id.toString()) { %>selected<% } %>>
                     <%= category.name %>
                  </option>
               <% }) %>
            </select>
         </div>
         <div class="form-group">
            <label for="uploaded_file">Upload Image</label>
            <input type="file" name="uploaded_file" id="uploaded_file" accept="image/*">
         </div>
         <div class="form-group">
            <label for="item_price">Price ($USD) *</label>
            <input type="number" name="item_price" id="item_price" step="0.01" placeholder="7.99" value="<%= (typeof item === 'undefined' ? '' : item.price) %>" required>
         </div>
         <div class="form-group">
            <label for="item_num_in_stock">Number in Stock *</label>
            <input type="number" name="item_num_in_stock" id="item_num_in_stock" placeholder="50" value="<%= (typeof item === "undefined" ? '' : item.number_in_stock) %>" required>
         </div>
         <% if(typeof password_required !== 'undefined') { %>
            <div class="form-group">
               <label for="password">Password *</label>
               <div class="password-container">
                  <input type="password" name="password" id="password" placeholder="4-15*7Fohnjb#1" required />
                  <img class="eye-icon" src="/images/eye.svg" alt="password eye-icon" />
               </div>
            </div>
            <% if(typeof password_error !== "undefined") { %>
               <p class="error-msg" style="margin: 0;"><%= password_error %></p>
            <% } %>
         <% } %>
         <button type="submit">Submit</button>
      </form>
      
      <% if (typeof errors !== "undefined" && errors.length > 0) { %>
         <p>What the deuce?? >:(</p>
         <ul>
            <% errors.forEach(error => { %>
               <li class="error-msg"><%= error.msg %>!</li>
            <% }) %>
         </ul>
      <% } %>
   </main>
   <script src="/scripts/toggle_password.js"></script>
</body>
</html>